:root {
    --configurationBodyMinHeight: 20rem;
}

.configurationPanel {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 5rem;
    position: fixed;
    top: 2rem;
    z-index: 99;
}

.configurationPanelHeader {
    background-color: var(--background-color-header);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 30vw;
}

.configurationBody {
    animation-duration: var(--animation-time);
    animation-name: growFromTopToBottom;
    animation-timing-function: ease-in-out;
    background-color: var(--background-color);
}

.configurationSequenceChainColumn {
    min-height: 20rem;
    min-width: 15rem;
}

.configurationStateColumn {
    /*min-width: 20rem;*/
}

.selectedColor {
    color: var(--secondary-color);
}

.calcButton {
    background-color: var(--secondary-color);
}

@keyframes growFromTopToBottom {
    0% {
        opacity: 0;
        height: 0;
    }

    70% {
        opacity: 0;
        height: var(--configurationBodyMinHeight);
    }

    100% {
        opacity: 1;
    }
}