/* padding */

.padding-tiny, .padding-xs {
    padding: var(--spacing-tiny);
}

.padding-small, .padding-s {
    padding: var(--spacing-small);
}

.padding-medium, .padding-m {
    padding: var(--spacing-medium);
}

.padding-large, .padding-l {
    padding: var(--spacing-large);
}

.padding-vertical-tiny, .padding-vertical-xs {
    padding-top: var(--spacing-tiny);
    padding-bottom: var(--spacing-tiny);
}

.padding-vertical-small, .padding-vertical-s {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
}

.padding-vertical-medium, .padding-vertical-m {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}

.padding-vertical-large, .padding-vertical-l {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.padding-horizontal-tiny, .padding-horizontal-xs {
    padding-left: var(--spacing-tiny);
    padding-right: var(--spacing-tiny);
}

.padding-horizontal-small, .padding-horizontal-s {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}

.padding-horizontal-medium, .padding-horizontal-m {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}

.padding-horizontal-large, .padding-horizontal-l {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

.padding-top-tiny, .padding-top-xs {
    padding-top: var(--spacing-tiny);
}

.padding-top-small, .padding-top-s {
    padding-top: var(--spacing-small);
}

.padding-top-medium, .padding-top-m {
    padding-top: var(--spacing-medium);
}

.padding-top-large, .padding-top-l {
    padding-top: var(--spacing-large);
}

.padding-right-tiny, .padding--right-xs {
    padding-right: var(--spacing-tiny);
}

.padding-right-small, .padding--right-s {
    padding-right: var(--spacing-small);
}

.padding-right-medium, .padding-right-m {
    padding-right: var(--spacing-medium);
}

.padding-right-large, .padding-right-l {
    padding-right: var(--spacing-large);
}

.padding-bottom-tiny, .padding-bottom-xs {
    padding-bottom: var(--spacing-tiny);
}

.padding-bottom-small, .padding-bottom-s {
    padding-bottom: var(--spacing-small);
}

.padding-bottom-medium, .padding-bottom-m {
    padding-bottom: var(--spacing-medium);
}

.padding-bottom-large, .padding-bottom-l {
    padding-bottom: var(--spacing-large);
}

.padding-left-tiny, .padding-left-xs {
    padding-left: var(--spacing-tiny);
}

.padding-left-small, .padding-left-s {
    padding-left: var(--spacing-small);
}

.padding-left-medium, .padding-left-m {
    padding-left: var(--spacing-medium);
}

.padding-left-large, .padding-left-l {
    padding-left: var(--spacing-large);
}

/* margin */

.margin-tiny, .margin-xs {
    margin: var(--spacing-tiny);
}

.margin-small, .margin-s {
    margin: var(--spacing-small);
}

.margin-medium, .margin-m {
    margin: var(--spacing-medium);
}

.margin-large, .margin-l {
    margin: var(--spacing-large);
}

.margin-vertical-tiny, .margin-vertical-xs {
    margin-top: var(--spacing-tiny);
    margin-bottom: var(--spacing-tiny);
}

.margin-vertical-small, .margin-vertical-s {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.margin-vertical-medium, .margin-vertical-m {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.margin-vertical-large, .margin-vertical-l {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

.margin-horizontal-tiny, .margin-horizontal-xs {
    margin-left: var(--spacing-tiny);
    margin-right: var(--spacing-tiny);
}

.margin-horizontal-small, .margin-horizontal-s {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
}

.margin-horizontal-medium, .margin-horizontal-m {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}

.margin-horizontal-large, .margin-horizontal-l {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.margin-top-tiny, .margin-top-xs {
    margin-top: var(--spacing-tiny);
}

.margin-top-small, .margin-top-s {
    margin-top: var(--spacing-small);
}

.margin-top-medium, .margin-top-m {
    margin-top: var(--spacing-medium);
}

.margin-top-large, .margin-top-l {
    margin-top: var(--spacing-large);
}

.margin-right-tiny, .margin-right-xs {
    margin-right: var(--spacing-tiny);
}

.margin-right-small, .margin-right-s {
    margin-right: var(--spacing-small);
}

.margin-right-medium, .margin-right-m {
    margin-right: var(--spacing-medium);
}

.margin-right-large, .margin-right-l {
    margin-right: var(--spacing-large);
}

.margin-bottom-tiny, .margin-bottom-xs {
    margin-bottom: var(--spacing-tiny);
}

.margin-bottom-small, .margin-bottom-s {
    margin-bottom: var(--spacing-small);
}

.margin-bottom-medium, .margin-bottom-m {
    margin-bottom: var(--spacing-medium);
}

.margin-bottom-large, .margin-bottom-l {
    margin-bottom: var(--spacing-large);
}

.margin-left-tiny, .margin-left-xs {
    margin-left: var(--spacing-tiny);
}

.margin-left-small, .margin-left-s {
    margin-left: var(--spacing-small);
}

.margin-left-medium, .margin-left-m {
    margin-left: var(--spacing-medium);
}

.margin-left-large, .margin-left-l {
    margin-left: var(--spacing-large);
}

/* flex box */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-start {
    align-items: center;
    justify-content: flex-start;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-inline{
    display: inline-flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.content-space-around {
    justify-content: space-around;
}

.content-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/*Size*/

.width-fluid {
    width: 100%;
}

.height-fluid {
    height: 100%;
}

.fluid {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 900;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 800;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 700;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 600;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 500;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 400;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 300;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 200;
    src: url(../../static/media/DINOT-Light.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 100;
    src: url(../../static/media/DINOT-Light.d41d8cd9.ttf) format('truetype');
}

:root {
    --animation-time: 0.8s;
}

@-webkit-keyframes appearTabGroup {
    0% {
        color: transparent;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
        height: 0;
    }

    5% {
        color: transparent;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    5% {
        color: var(--primary-text-color);
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 1px var(--border-color);
        height: 4.4em;
    }
}

@keyframes appearTabGroup {
    0% {
        color: transparent;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
        height: 0;
    }

    5% {
        color: transparent;
        background-color: transparent;
        box-shadow: 0 0 0 0 transparent;
    }

    5% {
        color: var(--primary-text-color);
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 1px var(--border-color);
        height: 4.4em;
    }
}

@-webkit-keyframes appearTab {
    0% {
        color: transparent;
        background-color: transparent;
        height: 0;
        border-right: 0.5px solid transparent;
    }

    10% {
        background-color: transparent;
        color: transparent;
        border-right: 0.5px solid transparent;
    }

    100% {
        color: var(--primary-text-color);
        background-color: rgba(0, 0, 0, 0.2);
        height: 2.2em;
        border-right: 0.5px solid rgba(255, 250, 250, 0.2);
    }
}

@keyframes appearTab {
    0% {
        color: transparent;
        background-color: transparent;
        height: 0;
        border-right: 0.5px solid transparent;
    }

    10% {
        background-color: transparent;
        color: transparent;
        border-right: 0.5px solid transparent;
    }

    100% {
        color: var(--primary-text-color);
        background-color: rgba(0, 0, 0, 0.2);
        height: 2.2em;
        border-right: 0.5px solid rgba(255, 250, 250, 0.2);
    }
}

@-webkit-keyframes growDeleteButton {
    0% {
        width: 0;
        color: transparent;
    }

    80% {
        color: transparent;
    }

    100% {
        width: 8em;
        color: red;
    }
}

@keyframes growDeleteButton {
    0% {
        width: 0;
        color: transparent;
    }

    80% {
        color: transparent;
    }

    100% {
        width: 8em;
        color: red;
    }
}

@-webkit-keyframes appearText {
    0% {
        color: transparent;
    }

    100% {
        color: black;
    }
}

@keyframes appearText {
    0% {
        color: transparent;
    }

    100% {
        color: black;
    }
}

@-webkit-keyframes growHeight {
    from {
        background-color: transparent;
        box-shadow: 0 0 0 1px transparent, 0 0 5px 5px transparent;
        color: transparent;
        height: 0;
    }

    to {
        background-color: var(--background-color-header);
        box-shadow: 0 0 0 1px var(--border-color), 0 0 5px 5px rgba(0, 0, 0, 0.199);
        color: var(--primary-text-color);
        height: 100%;
    }
}

@keyframes growHeight {
    from {
        background-color: transparent;
        box-shadow: 0 0 0 1px transparent, 0 0 5px 5px transparent;
        color: transparent;
        height: 0;
    }

    to {
        background-color: var(--background-color-header);
        box-shadow: 0 0 0 1px var(--border-color), 0 0 5px 5px rgba(0, 0, 0, 0.199);
        color: var(--primary-text-color);
        height: 100%;
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 0 6px 2px var(--secondary-color), 0 0 5px 5px rgba(0, 0, 0, 0.199);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent;
    }

    to {
        box-shadow: 0 0 6px 2px var(--secondary-color), 0 0 5px 5px rgba(0, 0, 0, 0.199);
    }
}

@-webkit-keyframes slideIn {
    from {
        margin-bottom: 11em;
    }

    to {
        margin-bottom: 0;
    }
}

@keyframes slideIn {
    from {
        margin-bottom: 11em;
    }

    to {
        margin-bottom: 0;
    }
}

@-webkit-keyframes growWidth {
    0% {
        width: 0;
        color: transparent;
    }

    80% {
        color: transparent;
    }

    100% {
        width: 2em;
        color: white;
    }
}

@keyframes growWidth {
    0% {
        width: 0;
        color: transparent;
    }

    80% {
        color: transparent;
    }

    100% {
        width: 2em;
        color: white;
    }
}

@-webkit-keyframes shrinkWidth {
    0% {
        width: 2em;
        background-color: var(--color-black);
        border-width: 0 0 0 2px;
    }

    100% {
        width: 0;
        background-color: transparent;
        border-width: 0 0 0 0;
    }
}

@keyframes shrinkWidth {
    0% {
        width: 2em;
        background-color: var(--color-black);
        border-width: 0 0 0 2px;
    }

    100% {
        width: 0;
        background-color: transparent;
        border-width: 0 0 0 0;
    }
}

@keyframes growWidth {
    0% {
        width: 0;
        color: transparent !important;
        box-shadow: 0 0 0 1px transparent !important;
        border-color: transparent !important;
    }

    100% {
        width: 1.2em;
        color: white !important;
        box-shadow: 0 0 0 1px var(--border-color) !important;
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes borderGrow {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: var(--color-error--lighter);
    }
}

@keyframes borderGrow {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: var(--color-error--lighter);
    }
}
/* border */
.border {
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-style: solid;
}

.border-top {
    border-top-color: var(--border-color);
    border-top-style: solid;
}

.border-bottom {
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
}

.border-right {
    border-right-color: var(--border-color);
    border-right-style: solid;
}

.border-left {
    border-left-color: var(--border-color);
    border-left-style: solid;
}

.border-small {
    border-width: var(--border-size-small);
}

.border-medium {
    border-width: var(--border-size-medium);
}

.border-large {
    border-width: var(--border-size-large);
}

.border-radius {
    border-radius: var(--border-radius);
}

.remove-border-radius {
    border-radius: unset;
}

.border-warning {
    border-color: var(--color-error--lighter);
    border-width: var(--border-size-medium);
}

.border-animation {
    -webkit-animation: borderGrow 0.8s ease-in-out;
            animation: borderGrow 0.8s ease-in-out;
}

:root {
    --color-black: #000000;
    --color-blue: #0060A9;
    --color-blue--lighter: #4D90C3;
    --color-cyan: #35ABE2;
    --color-cyan--lighter: #00cdf1; /* original theme color: #72C4EB; */
    --color-dark: #54585B;
    --color-dark--lighter: #878A8C;
    --color-dark-blue: #0D456B;
    --color-dark-blue--lighter: #567D97;
    --color-error: #C81919;
    --color-error--lighter: #D95E5E;
    --color-green: #0FBD58;
    --color-green--lighter: #00e760;
    --color-grey: #C7C7C7;
    --color-grey--lighter: #EAEAEA;

    --color-light: #F4F4F4;
    --color-light--lighter: #F7F7F7;

    --color-lila: #9D599F;
    --color-lila--lighter: #BA8BBC;

    --color-purple: #93019b;
    --color-purple-dark: #540058;

    --color-warning: #F0BB29;
    --color-warning--lighter: #F5CF69;
    --color-white: #FFFFFF;
}
:root {
    --text-font-family: "DIN OT", Helvetica, Arial, sans-serif;
    --spacing-large: 22px;

    --spacing-medium: 15px;
    --border-radius: 0.2rem;
    --text-size: 100%;
    --border-size-large: 4px;

    --border-size-medium: 2px;
    --border-size-small: 1px;
    --spacing-small: 10px;
    --spacing-tiny: 5px;
}

.light {
    /* primary */
    --data-add-color: var(--color-green);
    --2x2-border-color: var(--color-white);

    /* secondary */
    --background-color: var(--color-dark--lighter);
    /*--secondary-color: var(--color-blue);*/
    --border-color: var(--secondary-color);

    /* tertiary */
    --primary-color: var(--color-dark-blue);
    --secondary-color: var(--color-cyan--lighter);


    --tertiary-color: var(--color-grey);
    /* 2x2 border */
    --background-color-header: var(--color-dark);

    /* data */
    --background-color-shadow: var(--color-black);
    --data-delete-color: var(--color-error);
    --color-hover: rgba(0, 0, 0, .5);
    --data-persistent-color: var(--color-dark--lighter);

    --data-text-color: var(--color-black);


    /*--background-color-header: rgba(0, 0, 0, 0.5);*/
    --primary-text-color: var(--color-light);

    --secondary-text-color: var(--color-light);
    --tertiary-text-color: var(--color-dark);

}

.dark {
    /* primary */
    --data-add-color: var(--color-green);
    --2x2-border-color: var(--color-white);

    /* secondary */
    --background-color: var(--color-dark--lighter);
    /*--secondary-color: var(--color-blue);*/
    --border-color: var(--secondary-color);

    /* tertiary */
    --primary-color: var(--color-dark-blue);
    --secondary-color: var(--color-cyan--lighter);


    --tertiary-color: var(--color-grey);
    /* 2x2 border */
    --background-color-header: var(--color-dark);

    /* data */
    --background-color-shadow: var(--color-black);
    --data-delete-color: var(--color-error);
    --color-hover: rgba(0, 0, 0, .5);
    --data-persistent-color: var(--color-dark--lighter);

    --data-text-color: var(--color-black);


    /*--background-color-header: rgba(0, 0, 0, 0.5);*/
    --primary-text-color: var(--color-light);

    --secondary-text-color: var(--color-light);
    --tertiary-text-color: var(--color-dark);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    color: var(--primary-text-color);
    font-family: "DIN OT", Helvetica, Arial, sans-serif;
    font-family: var(--text-font-family);

    font-size: 100%;

    font-size: var(--text-size);
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* misc utils */
.no-user-select {
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


/*# sourceMappingURL=main.aa323c43.chunk.css.map*/