/* padding */

.padding-small, .padding-s {
    padding: var(--spacing-small);
}

.padding-medium, .padding-m {
    padding: var(--spacing-medium);
}

.padding-large, .padding-l {
    padding: var(--spacing-large);
}

.padding-vertical-small, .padding-vertical-s {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
}

.padding-vertical-medium, .padding-vertical-m {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}

.padding-vertical-large, .padding-vertical-l {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.padding-horizontal-small, .padding-horizontal-s {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}

.padding-horizontal-medium, .padding-horizontal-m {
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
}

.padding-horizontal-large, .padding-horizontal-l {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

.padding-top-small, .padding-top-s {
    padding-top: var(--spacing-small);
}

.padding-top-medium, .padding-top-m {
    padding-top: var(--spacing-medium);
}

.padding-top-large, .padding-top-l {
    padding-top: var(--spacing-large);
}

.padding-right-small, .padding--rights {
    padding-right: var(--spacing-small);
}

.padding-right-medium, .padding-right-m {
    padding-right: var(--spacing-medium);
}

.padding-right-large, .padding-right-l {
    padding-right: var(--spacing-large);
}

.padding-bottom-small, .padding-bottom-s {
    padding-bottom: var(--spacing-small);
}

.padding-bottom-medium, .padding-bottom-m {
    padding-bottom: var(--spacing-medium);
}

.padding-bottom-large, .padding-bottom-l {
    padding-bottom: var(--spacing-large);
}

.padding-left-small, .padding-left-s {
    padding-left: var(--spacing-small);
}

.padding-left-medium, .padding-left-m {
    padding-left: var(--spacing-medium);
}

.padding-left-large, .padding-left-l {
    padding-left: var(--spacing-large);
}

/* margin */

.margin-small, .margin-s {
    margin: var(--spacing-small);
}

.margin-medium, .margin-m {
    margin: var(--spacing-medium);
}

.margin-large, .margin-l {
    margin: var(--spacing-large);
}

.margin-vertical-small, .margin-vertical-s {
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.margin-vertical-medium, .margin-vertical-m {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.margin-vertical-large, .margin-vertical-l {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

.margin-horizontal-small, .margin-horizontal-s {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
}

.margin-horizontal-medium, .margin-horizontal-m {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}

.margin-horizontal-large, .margin-horizontal-l {
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
}

.margin-top-small, .margin-top-s {
    margin-top: var(--spacing-small);
}

.margin-top-medium, .margin-top-m {
    margin-top: var(--spacing-medium);
}

.margin-top-large, .margin-top-l {
    margin-top: var(--spacing-large);
}

.margin-right-small, .margin--rights {
    margin-right: var(--spacing-small);
}

.margin-right-medium, .margin-right-m {
    margin-right: var(--spacing-medium);
}

.margin-right-large, .margin-right-l {
    margin-right: var(--spacing-large);
}

.margin-bottom-small, .margin-bottom-s {
    margin-bottom: var(--spacing-small);
}

.margin-bottom-medium, .margin-bottom-m {
    margin-bottom: var(--spacing-medium);
}

.margin-bottom-large, .margin-bottom-l {
    margin-bottom: var(--spacing-large);
}

.margin-left-small, .margin-left-s {
    margin-left: var(--spacing-small);
}

.margin-left-medium, .margin-left-m {
    margin-left: var(--spacing-medium);
}

.margin-left-large, .margin-left-l {
    margin-left: var(--spacing-large);
}

/* flex box */
.flex {
    display: -webkit-flex;
    display: flex;
}

.flex-column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
}

.flex-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
}

.flex-center {
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

.flex-end {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.flex-grow {
    -webkit-flex-grow: 1;
            flex-grow: 1;
}

.flex-shrink {
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 900;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 800;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 700;
    src: url(../../static/media/DINOT-Bold.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 600;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 500;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 400;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 300;
    src: url(../../static/media/DINOT-Medium.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 200;
    src: url(../../static/media/DINOT-Light.d41d8cd9.ttf) format('truetype');
}

@font-face {
    font-family: 'DIN OT';
    font-style: normal;
    font-weight: 100;
    src: url(../../static/media/DINOT-Light.d41d8cd9.ttf) format('truetype');
}

:root {
    --color-dark-blue: #0D456B;
    --color-dark-blue--lighter: #567D97;
    --color-blue: #0060A9;
    --color-blue--lighter: #4D90C3;
    --color-cyan: #35ABE2;
    --color-cyan--lighter: #72C4EB;
    --color-lila: #9D599F;
    --color-lila--lighter: #BA8BBC;
    --color-green: #C8D400;
    --color-green--lighter: #D9E14D;
    --color-error: #C81919;
    --color-error--lighter: #D95E5E;
    --color-warning: #F0BB29;
    --color-warning--lighter: #F5CF69;

    --color-black: #000000;
    --color-dark: #54585B;
    --color-dark--lighter: #878A8C;
    --color-grey: #C7C7C7;
    --color-grey--lighter: #EAEAEA;
    --color-light: #F4F4F4;
    --color-light--lighter: #F7F7F7;
    --color-white: #FFFFFF;

    --text-size: 100%;
    --text-font-family: "DIN OT", Helvetica, Arial, sans-serif;

    --spacing-small: 10px;
    --spacing-medium: 10px;
    --spacing-large: 22px;

    /* primary */
    --primary-color: var(--color-dark-blue);
    --primary-text-color: var(--color-light);

    /* secondary */
    --secondary-color: var(--color-blue);
    --secondary-text-color: var(--color-light);

    /* tertiary */
    --tertiary-color: var(--color-grey);
    --tertiary-text-color: var(--color-dark);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;

    font-family: "DIN OT", Helvetica, Arial, sans-serif;

    font-family: var(--text-font-family);
    font-size: 100%;
    font-size: var(--text-size);
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bar {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;

    /*width: 100%;*/
    /*min-width: 100%;*/
    /*max-width: 100%;*/

    overflow: hidden;

    /* subclass properties */
    --padding-top: calc(.5rem - 3px); /* visual alignment 16px/2 - 3px = 5px */
    --padding-bottom: calc(.5rem - 1px); /* visual alignment 16px/2 - 1px = 7px */
    --padding-vertical: calc(var(--padding-top) + var(--padding-bottom));
    --padding-horizontal: 1rem;
    --height: calc(1rem + var(--padding-vertical));

    /* normal bar */
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    padding: var(--padding-top) var(--padding-horizontal) var(--padding-bottom);
}

.bar.large {
    --height-large: calc(var(--height) + (2 * var(--padding-vertical)));

    height: var(--height-large);
    min-height: var(--height-large);
    max-height: var(--height-large);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.bar.medium {
}

.bar.small {
    --padding-vertical: .125rem; /* 16px * 0.125 = 2px */
    --padding-horizontal: .5rem;
    --height: calc(1rem + (2 * var(--padding-vertical)));

    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.bar.primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.bar.secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.bar.tertiary {
    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
}

.bar-position {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    height: 100%;

    display: -webkit-flex;

    display: flex;
    -webkit-align-items: center;
            align-items: center;
}

.bar-position.left {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
}

.bar-position.middle {
    -webkit-justify-content: center;
            justify-content: center;
}

.bar-position.right {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
}

.card {
    border: 1px solid var(--color-grey--lighter);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.card.outlined {
    box-shadow: none;
}


/*# sourceMappingURL=main.8bde72c3.chunk.css.map*/