.react-select-container {
    background-color: transparent;
    border: var(--border-size-medium) solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--primary-text-color);
    min-width: 15rem;
}

.react-select__control {
    background-color: transparent !important;
    border: none !important;
}

.react-select__control:hover {
    background-color: var(--color-hover) !important;
    cursor: pointer;
}

.react-select__indicator {
    color: var(--primary-text-color) !important;
}

.react-select__menu {
    position: absolute;
    z-index: 99 !important;
}

.react-select__menu-list {
    background-color: var(--background-color);
    border: var(--border-color) solid var(--border-size-medium);
    border-radius: var(--border-radius);
    max-width: fit-content;
    position: fixed !important;
    z-index: 99 !important;
}

.react-select__option.react-select__option--is-focused, .react-select__option:hover {
    background-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
}

.react-select__option.react-select__option--is-selected {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.react-select-container .react-select__single-value, .react-select__input {
    color: var(--primary-text-color);
}

/*======================================== label dropdown ========================================*/

.react-select-label-container {
    background-color: transparent;
    border: var(--border-size-medium) solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--primary-text-color);
    min-width: 9rem;
}

.react-select-label__control {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.react-select-label__control:hover {
    background-color: var(--color-hover) !important;
    border: none !important;
    cursor: pointer;
}

.react-select-label__indicator {
    color: var(--primary-text-color) !important;
}

.react-select-label__menu {
    z-index: 99 !important;
}

.react-select-label__menu-list {
    background-color: var(--background-color);
    border: var(--border-color) solid var(--border-size-medium);
    border-radius: var(--border-radius);
    max-width: fit-content;
    position: fixed !important;
    z-index: 99 !important;
}

.react-select-label__option.react-select-label__option--is-focused, .react-select-label__option:hover {
    background-color: transparent;
    color: var(--secondary-color);
    cursor: pointer;
}

.react-select-label__option.react-select-label__option--is-selected {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

.react-select-label-container .react-select-label__single-value, .react-select-label__input {
    color: var(--primary-text-color);
}

.react-select-label__value-container.react-select-label__value-container--has-value {
    justify-content: center;
}
