@import "Colors.css";
@import "Atomic.css";
@import "SemanticOverwrite.css";
@import "Keyframes.css";
@import "Icons.css";
@import "Flowchart.css";
@import "Path.css";
@import "Table.css";

.carvGridContainer {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: minmax(8em, 8em) 1fr 1fr;
    grid-template-areas:
    "leftBar header header"
    "leftBar compModel seqModel"
    "leftBar dataModel seqTabel";
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--carv2-background-color);
}

.componentPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--carv2-background-color);
    grid-template-areas: "compModel";
}

.leftPanel {
    grid-area: leftBar;
    justify-self: center;
    background-color: var(--carv2-background-color-slidebar);
    width: 100%;
}

.controllerHeader {
    grid-area: header;
    background-color: var(--carv2-background-color-header);
    color: var(--carv2-text-color);
    border-style: solid;
    border-width: 0 0 5px 0;
    border-image: linear-gradient(to bottom, var(--carv2-background-color-shadow), var(--carv2-background-color)) 1 1 100%;
}

.actorModelFullscreen {
    border: 1px solid black;
    background-color: var(--carv2-background-color);
}

.dataModelFullscreen {
    border: 1px solid black;
    background-color: var(--carv2-background-color);
}

.actorModel {
    grid-area: compModel;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent) 0 100%;
}

.dndWrapper {
    position: absolute;
    display: inline-flex;
    z-index: 1;
}

.dataModel {
    grid-area: dataModel;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-image: linear-gradient(to right,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent) 1 1 100%;
}

.flowChartModel {
    grid-area: seqModel;
    min-height: 0;
    overflow: hidden;
    border-image: linear-gradient(to right,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent) 1 1 100%;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.flowChart {
    overflow: auto;
    padding: 1em;
    display: block;
    width: 100%;
}

.flowChartLabel {
    margin-bottom: 2px;
    width: 25em;
    display: flex;
    align-content: center;
}

.flowChartLabelLeft {
    display: flex;
    align-self: center;
    border-left: 2px solid var(--carv2-color-secondary);
    border-top: 2px solid var(--carv2-color-secondary);
    border-bottom: 2px solid var(--carv2-color-secondary);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 20%;
    background-color: var(--carv2-color-secondary);
    font-weight: bold;
    color: var(--carv2-background-color-slidebar);
}

.flowChartLabelRight {
    width: 80%;
    border-right: 2px solid var(--carv2-color-secondary);
    border-top: 2px solid var(--carv2-color-secondary);
    border-bottom: 2px solid var(--carv2-color-secondary);
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: var(--carv2-text-color);
    background-color: var(--carv2-background-color-header);
}

.sequenceTable {
    min-height: 0;
    grid-area: seqTabel;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent) 0 100%;
    padding: 2px;
    overflow: hidden;
}

.fullscreen {
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;
}

.sVGArea {
    width: 100%;
    height: 100%;
}

.controllPanelView {
    display: flex;
    justify-content: flex-start;
}

.controllPanelViewChild {
    margin: 10px;
}

/* -------------------------------------------- Modal -------------------------------------------- */

.davitModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

/* -------------------------------------------- Forms -------------------------------------------- */

.form {
    background: var(--carv2-background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    min-width: 50em;
}

.formHeader {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formFooter {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formBody {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1.5em;
}

.formLine {
    display: flex;
    justify-content: space-around;
    min-width: 22em;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 10em;
}

.formDivider {
    display: flex;
    border-top: var(--davit-border-size) solid var(--carv2-text-color);
    border-radius: var(--davit-border-radius);
    margin: var(--davit-margin-top-bottom);
}

.noteForm {
    width: 30%;
    background: var(--carv2-background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}

.noteTextarea {
    border-radius: var(--davit-border-radius);
    resize: none;
    width: 100%;
    font-size: var(--davit-font-size);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    background-color: var(--carv2-background-color);
    color: var(--carv2-text-color);
}

.noteTextarea:focus {
    outline: none;
}

.downloadForm {
    width: 30%;
    background: var(--carv2-background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}

/* -------------------------------------------- Optionfield -------------------------------------------- */

.optionField {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.optionFieldChildArea {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.columnDivider {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom, transparent, #e0e1e2, #e0e1e2, #e0e1e2, transparent) 0 100%;
}

#buttonGroupLabel {
    opacity: 1 !important;
    color: var(--carv2-text-color);
}

/*================================================================================================================*/

.davitMenuLabel {
    padding-bottom: 1.5em;
}

.carv2label {
    color: var(--carv2-text-color) !important;
}

.ButtonGroup {
    display: flex;
    flex-direction: column;
    border-radius: 3em;
    /* margin: 2px; */
    margin: 2px 4px 0 2px;
    align-items: center;
}

.carv2Button {
    background-color: transparent;
    box-shadow: 0 0 0 1px var(--carv2-color-secondary);
    color: white;
}


.carv2TableButton {
    background-color: var(--carv2-background-color) !important;
    transition: background-color 0.4s !important;
}

.carv2TableButton:hover {
    background-color: var(--carv2-background-color-header) !important;
    transition: background-color 0.4s !important;
    cursor: pointer;
}

.Carv2CardMainButton {
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0 1px var(--carv2-color-border);
    border: 0.2em solid transparent;
    color: var(--carv2-color-border);
    border-radius: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.Carv2CardMainButton:hover {
    background-color: var(--carv2-color-secondary);
    transition: background-color 0.4s;
    color: black;
    cursor: pointer;
}

.disabled:hover {
    background-color: transparent;
    transition: background-color 0.4s;
    color: black;
    cursor: default;
}

.Carv2CardButton {
    animation-name: growWidth;
    animation-duration: var(--animation-time);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 2px var(--carv2-color-secondary);
    border-radius: 0.2em;
    width: 2em;
    height: 2em;
    margin: 2px;
    background-color: transparent;
    border: none;
}

.activeButton {
    background-color: var(--carv2-color-secondary);
}

.Carv2CardButton:hover {
    background-color: var(--carv2-color-secondary);
    transition: background-color 0.4s;
    color: black;
}

.pLeft1 {
    padding-left: 0.5em;
}

/* -------------------------------------------- Sidepanel -------------------------------------------- */

.verticalLabel {
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    text-align: center;
    font-size: 3em;
    font-family: ArialRoundedMTBold, "Arial Rounded MT Bold", serif;
    margin-left: 13px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #0060a9;
}

/* -------------------------------------------- Control panel -------------------------------------------- */

.verticalTab {
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 2em;
    height: 7.8em;
    background-color: var(--carv2-background-color-slidebar);
    color: white;
    margin: 0;
    text-align: center;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent) 0 100%;
    animation-duration: var(--animation-time);
}

.verticalTab:hover {
    cursor: pointer;
    background-color: black;
}

.verticalTablDummy {
    animation-name: shrinkWidth;
    animation-duration: var(--animation-time);
    border-image: linear-gradient(to bottom,
    transparent,
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    var(--carv2-color-primary),
    transparent);
    height: 7.8em;
}

.slideable-verticaltab {
    width: 2em;
}

.slideable {
    width: 100% !important;
    transition: width var(--animation-time);
}

.slideable-hidden {
    width: 0 !important;
    transition: width var(--animation-time);
}

.controllPanelEdit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;

    animation-duration: var(--animation-time);
    animation-timing-function: ease-in-out;
    animation-name: slidein;
}

.controllPanelEditChild {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#innerCard {
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0.3em !important;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* -------------------------------------------- Actor -------------------------------------------- */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--carv2-text-color);
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px var(--carv2-color-border), 0 0 5px 5px rgba(0, 0, 0, 0.199);
    background-color: var(--carv2-background-color-header);
    animation-duration: var(--animation-time);
    animation-name: grow;
    animation-timing-function: ease-in-out;
    transition: width var(--animation-time), box-shadow var(--animation-time);
    cursor: grab;
}

.activeFilter {
    box-shadow: 0 0 0 3px var(--carv2-color-secondary);
    transition: box-shadow var(--animation-time);
}

.cardHeader {
    font-size: 0.8em;
    font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0.5em;
    display: flex;
    transition: color var(--animation-time), height var(--animation-time) width var(--animation-time);
    color: white;
    height: 2.7em;
}

.carhHeaderText {
    color: var(--carv2-text-color);
    height: 2.5em;
    transition: color var(--animation-time), height var(--animation-time);
}

.carhHeaderTextInvisible {
    color: transparent;
    height: 0.1px;
}

.cardHeaderButtons {
    color: transparent;
    transition: color var(--animation-time), height var(--animation-time);
    padding: 0.2em;
    width: 100%;
    justify-content: end;
}

.viewFragment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border-top: 0.5px solid var(--carv2-text-color);
    max-width: 15em;
}

.appearAnimation {
    animation-duration: var(--animation-time);
    animation-name: grow;
    animation-timing-function: ease-in-out;
}

.carv2ActorDataNEW {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-add-color) !important;
    color: var(--carv2-data-text-color) !important;
}

.carv2ActorDataPERSISTENT {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-persistent-color) !important;
    color: var(--carv2-data-text-color) !important;
}

.carv2ActorDataSENT {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-color-exxcellent-blue) !important;
    color: var(--carv2-text-color) !important;
}

.carv2ActorDataUPDATED_TO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-color-pink) !important;
    color: var(--carv2-text-color) !important;
}

.carv2ActorDataUPDATED_FROM {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-color-dark-purple) !important;
    color: var(--carv2-data-persistent-color) !important;
}

.carv2ActorDataDELETED {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-delete-color) !important;
    color: var(--carv2-text-color) !important;
}

.carv2ActorDataADD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-background-color-header) !important;
    color: var(--carv2-text-color) !important;
    box-shadow: 6px 6px 10px var(--carv2-data-add-color) inset !important;
}

.carv2ActorDataCHECKED {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-persistent-color) !important;
    color: var(--carv2-data-text-color) !important;
}

.carv2ActorDataCHECK_FAILED {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-persistent-color) !important;
    color: var(--carv2-text-color) !important;
}

.carv2ActorDataDELETE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-background-color-header) !important;
    color: var(--carv2-text-color) !important;
    box-shadow: 6px 6px 10px var(--carv2-data-delete-color) inset !important;
}

.carv2ActorDataERROR_ADD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-add-color) !important;
    color: var(--carv2-text-color) !important;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.carv2ActorDataERROR_DELETE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-data-delete-color) !important;
    color: var(--carv2-text-color) !important;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.carv2ActorDataERROR_SEND {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--carv2-color-exxcellent-blue) !important;
    color: var(--carv2-text-color) !important;
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

/*========================================== NEW DAVIT CSS ==========================================================*/

.zoomLabel {
    color: var(--carv2-text-color);
    font-size: 0.7em;
    animation-name: disapear;
    animation-duration: 3s;
    opacity: 0;
}

.sidePanelButton {
    border: none;
    width: 100%;
    height: 4em;
    border-bottom: var(--davit-border-size) solid var(--carv2-color-primary);
    border-radius: 0;
}

.sidePanelButton.active {
    background-color: var(--carv2-color-secondary);
    transition: background-color var(--animation-time);
}

.viewPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--carv2-text-color);
}

input {
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    border-radius: var(--davit-border-radius);
    border-color: var(--carv2-color-secondary);
    background-color: transparent;
    border-style: solid;
    border-width: var(--davit-border-size);
    color: var(--carv2-text-color);
    font-family: var(--davit-font-family);
    font-size: var(--davit-font-size);
}

input:focus {
    outline: none;
}

input.label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.inputLabel {
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    border-bottom-left-radius: var(--davit-border-radius);
    border-top-left-radius: var(--davit-border-radius);
    border: var(--davit-border-size) solid var(--carv2-color-secondary);
    border-bottom: var(--davit-border-size) solid var(--carv2-color-secondary);
    background-color: var(--carv2-color-secondary);
    color: var(--carv2-text-color);
    font-family: var(--davit-font-family);
    font-size: var(--davit-font-size);
}

button {
    color: var(--carv2-text-color);
    border-radius: var(--davit-border-radius);
    border: var(--davit-border-size) solid var(--carv2-color-secondary);
    background-color: transparent;
    text-align: center;
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}

button:hover {
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.labelField {
    color: var(--carv2-text-color);
    border: var(--davit-border-size) solid var(--carv2-color-secondary);
    background-color: transparent;
    text-align: center;
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}

.deleteButton {
    background-color: transparent;
    color: var(--davit-color-warning);
    border-color: var(--davit-color-warning);
}

.deleteButton.fluid {
    width: 8em;
    animation: growDeleteButton var(--animation-time) ease-in-out 0s;
}

.notificationCard {
    width: 30em;
    min-height: 6em;
    background-color: var(--carv2-background-color);
    border-radius: var(--davit-border-radius);
    border: var(--davit-border-size) solid var(--carv2-color-border);
    display: flex;
    align-items: center;
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    animation: notificationSlideIn var(--animation-time) ease-in-out 0s;
}

.headerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    height: 100%;
}

