:root {
    --table-width: 40em;
    --table-min-width: 30vh;
    --table-max-height: 40vh;
}

.table {
    width: var(--table-width);
    min-height: var(--table-min-width);
}

.headerTd {
    text-align: center;
}

.body {
    max-height: var(--table-max-height);
}
