.noteForm {
    min-width: 30%;
    background: var(--background-color);
    border-radius: var(--border-radius);
}

.noteTextarea {
    border-radius: var(--border-radius);
    resize: none;
    width: 80%;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.noteTextarea:focus {
    outline: none;
}
