button {
    --size: 42px;
    align-items: center;
    background-color: transparent;

    border-color: var(--border-color);
    border-radius: var(--border-radius);

    border-style: solid;
    color: var(--primary-text-color);
    display: flex;

    height: var(--size); /* TODO do not use pixel perfect definitions */
    justify-content: center;
    min-height: var(--size);
    min-width: var(--size);

    padding: var(--spacing-small);
}

button:hover {
    background: var(--color-hover);
    cursor: pointer;
}


button.tiny {
    --size: 1rem;
    border-width: var(--border-size-small);
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);

    padding: 0;
}

button.small {
    --size: 1.8rem;
    border-width: var(--border-size-small);
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);

    padding: 0 var(--spacing-tiny) 0 var(--spacing-tiny);
}

button.medium {
}

button.large {
    --size: 3.5rem;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);

    padding: 0.5rem var(--spacing-medium) 0.5rem var(--spacing-medium);
}

button.activeButton {
    background-color: var(--secondary-color);
    border-color: var(--primary-text-color);
}
