.deleteButton {
    background-color: transparent;
    color: var(--color-error);
    border-color: var(--color-error) !important;
}

.deleteButton.fluid {
    width: 8em;
    animation: growDeleteButton var(--animation-time) ease-in-out 0s;
}
