.animator {
    animation-duration: var(--animation-time);
    animation-name: showNavigator;
    animation-timing-function: ease-in-out;
}

.viewNavigatorWrapper {
    background-color: var(--background-color-header);
    position: absolute;
    right: 50%;
    top: var(--header-height);
    transform: translate(50%);
    z-index: 4;
}

@keyframes showNavigator {
    0% {
        opacity: 0;
        height: 0;
    }

    70% {
        opacity: 0;
        height: 42px;
    }

    100% {
        opacity: 1;
    }
}

.stateViewWrapper {
    position: absolute;
}