.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    /*width: 100%;*/
    /*min-width: 100%;*/
    /*max-width: 100%;*/

    overflow: hidden;

    /* subclass properties */
    --padding-top: calc(.5rem - 3px); /* visual alignment 16px/2 - 3px = 5px */
    --padding-bottom: calc(.5rem - 1px); /* visual alignment 16px/2 - 1px = 7px */
    --padding-vertical: calc(var(--padding-top) + var(--padding-bottom));
    --padding-horizontal: 1rem;
    --height: calc(1rem + var(--padding-vertical));

    /* normal bar */
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    padding: var(--padding-top) var(--padding-horizontal) var(--padding-bottom);
}

.bar.large {
    --height-large: calc(var(--height) + (2 * var(--padding-vertical)));

    height: var(--height-large);
    min-height: var(--height-large);
    max-height: var(--height-large);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.bar.medium {
}

.bar.small {
    --padding-vertical: .125rem; /* 16px * 0.125 = 2px */
    --padding-horizontal: .5rem;
    --height: calc(1rem + (2 * var(--padding-vertical)));

    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

.bar.primary {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.bar.secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
}

.bar.tertiary {
    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
}

.bar-position {
    flex-grow: 1;
    height: 100%;

    display: flex;
    align-items: center;
}

.bar-position.left {
    justify-content: flex-start;
}

.bar-position.middle {
    justify-content: center;
}

.bar-position.right {
    justify-content: flex-end;
}
