.carvGridContainer {
  display: grid;
  grid-template-columns: 4em 1fr 1fr;
  grid-template-rows: minmax(8em, 8em) 1fr 1fr;
  grid-template-areas:
    "leftBar header header"
    "leftBar compModel seqModel"
    "leftBar dataModel seqTabel";
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--carv2-background-color);
}
.componentPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--carv2-background-color);
  grid-template-areas: "compModel";
}

.notificationPanel {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  justify-self: center;
}

.leftPanel {
  grid-area: leftBar;
  justify-self: center;
  background-color: var(--carv2-background-color-slidebar);
}

.controllerHeader {
  grid-area: header;
  padding: 10px;
  background-color: var(--carv2-background-color-header);
  border-style: solid;
  border-width: 0 0 5px 0;
  border-image: linear-gradient(to bottom, var(--carv2-background-color-shadow), var(--carv2-background-color)) 1 1 100%;
}

.componentModelFullscreen {
  border: 1px solid black;
  background-color: var(--carv2-background-color);
}

.dataModelFullscreen {
  border: 1px solid black;
  background-color: var(--carv2-background-color);
}

.componentModel {
  grid-area: compModel;
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-image: linear-gradient(
      to bottom,
      transparent,
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      transparent
    )
    0 100%;
}

.dndWrapper {
  position: absolute;
  display: inline-flex;
  z-index: 1;
}

.dataModel {
  grid-area: dataModel;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      transparent
    )
    1 1 100%;
}

.sequencModel {
  min-height: 0;
  grid-area: seqModel;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      transparent
    )
    1 1 100%;
  overflow: auto;
  padding: 1em;
}

.sequenceTable {
  min-height: 0;
  grid-area: seqTabel;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-image: linear-gradient(
      to bottom,
      transparent,
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      var(--carv2-color-primary),
      transparent
    )
    0 100%;
  padding: 2px;
  overflow: hidden;
}

.fullscreen {
  max-height: 100vh;
  max-width: 100%;
  overflow: auto;
}

.dataSVGArea {
  grid-area: dataModel;
  overflow: "visible";
  stroke: "black";
  position: "absolute";
  width: 100%;
  height: 100%;
}

.componentSVGArea {
  grid-area: compModel;
  overflow: "visible";
  stroke: "black";
  position: "absolute";
  width: 100%;
  height: 100%;
}

.controllPanelView {
  display: flex;
  justify-content: flex-start;
}
.controllPanelViewChild {
  margin: 10px;
}

/* -------------------------------------------- Optionfield -------------------------------------------- */

.optionFieldAround {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.innerOptionFieldSpacer {
  width: 100%;
  display: "flex";
  justify-content: center;
  align-items: center;
}

.optionField {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.optionFieldLabel {
  min-width: 10em;
  text-align: center;
  color: var(--carv2-text-color);
  font-size: 0.8em;
}

.optionFieldSpacer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* -------------------------------------------- PATH -------------------------------------------- */

.carvPath {
  stroke: black;
  stroke-width: 2px;
  fill: transparent;
}
.carvStrokeDasharray {
  stroke-dasharray: 0.5em;
  stroke-width: 3px;
}

.carvArrowMarker {
  fill: black;
}

#buttonGroupLabel {
  opacity: 1 !important;
  color: var(--carv2-text-color);
}

.carv2label {
  color: var(--carv2-text-color) !important;
}

.pLeft1 {
  padding-left: 0.5em;
}

/* -------------------------------------------- Controllpanel -------------------------------------------- */

.controllPanelEdit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

.controllPanelEditChild {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.columnDivider {
  display: flex;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-image: linear-gradient(to bottom, transparent, #e0e1e2, #e0e1e2, #e0e1e2, #e0e1e2, transparent) 0 100%;
}

#innerCard {
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0.3em !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* -------------------------------------------- Data -------------------------------------------- */

#dataObject {
  width: 100px;
  height: 30px;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 0px !important;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--carv2-text-color);
}

/* -------------------------------------------- Flussdiagram -------------------------------------------- */

.STEP {
  background-color: var(--carv2-background-color-header);
  color: var(--carv2-text-color);
  min-height: 2.4em;
  min-width: 6em;
  max-width: 15em;
  border-radius: 0.3em;
  padding: 6px;
  text-align: center;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.COND {
  z-index: 2;
  width: 2em;
  height: 2em;
  background-color: var(--carv2-background-color-shadow);
  transform: translateY(0.8em) rotate(45deg);
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.condLabel {
  z-index: 1;
  color: black;
  background-color: var(--carv2-background-color);
  transform: translateY(0.8em);
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

.FIN {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: var(--carv2-data-add-color);
  border: 0.2em solid var(--carv2-background-color);
  box-shadow: 0 0 0 0.2em var(--carv2-data-add-color);
  transform: translateY(0.2em);
}

.ERROR {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: var(--carv2-data-delete-color);
  border: 0.2em solid var(--carv2-background-color);
  box-shadow: 0 0 0 0.2em var(--carv2-data-delete-color);
  transform: translateY(0.2em);
}

.ROOT {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: var(--carv2-background-color-shadow);
  margin: 0.2em;
  padding: 0.2em;
}

.flowChartFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#flowChartCurrentStep {
  border: 3px solid var(--carv2-color-secondary);
}

/* -------------------------------------------- Component -------------------------------------------- */

.metaComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--carv2-text-color);
  border-radius: 0.28571429rem;
  border: 1px solid var(--car);
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  background-color: var(--carv2-background-color-header);
}

.metaComponentHeader {
  font-size: 0.8sem;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.5em;
}

.viewFragment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-top: 0.5px solid var(--carv2-text-color);
}

.carv2ComponentDataNEW {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-data-add-color) !important;
  color: var(--carv2-data-text-color) !important;
}
.carv2ComponentDataPERSISTENT {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-data-persistent-color) !important;
  color: var(--carv2-data-text-color) !important;
}
.carv2ComponentDataDELETED {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-data-delete-color) !important;
  color: var(--carv2-data-text-color) !important;
}

.carv2ComponentDataADD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-background-color-header) !important;
  color: var(--carv2-text-color) !important;
  box-shadow: 6px 6px 10px var(--carv2-data-add-color) inset !important;
}
.carv2ComponentDataCHECK {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-background-color-header) !important;
  color: var(--carv2-text-color) !important;
  box-shadow: 6px 6px 10px var(--carv2-data-persistent-color) inset !important;
}
.carv2ComponentDataDELETE {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--carv2-background-color-header) !important;
  color: var(--carv2-text-color) !important;
  box-shadow: 6px 6px 10px var(--carv2-data-delete-color) inset !important;
}

/* -------------------------------------------- Table -------------------------------------------- */

tr {
  color: var(--carv2-text-color);
  padding-left: 1em;
}

tbody {
  display: block;
  height: 34vh;
  overflow: auto;
}

th {
  text-align: start;
  padding-left: 1em;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
thead {
  width: calc(100% - 1.2em);
  /*scrollbar is average 1em/16px width, remove it from thead width */
  background-color: var(--carv2-background-color-header);
  color: var(--carv2-text-color);
}
table {
  width: 100%;
}

.carv2Tr {
  background-color: var(--carv2-data-persistent-color);
  color: black;
  height: 2.5em;
  text-align: start;
  border-bottom: 1px solid black;
}

.tableBorder {
  margin: 0.5em;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.199);
  /* border-image: linear-gradient(to bottom, var(--carv2-background-color-shadow), var(--carv2-background-color)) 1 1 100%; */
  /* border: 2px solid var(--carv2-background-color-shadow); */
  border-radius: 5px;
  border: 2px solid var(--carv2-background-color-header);
}

.tabs {
  /* background-color: var(--carv2-background-color); */
  background-color: var(--carv2-background-color-header);
  display: flex;
  justify-content: start;
  height: 3em;
  border-bottom: 1px solid black;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7em;
  border-right: 1px solid black;
  /* background-color: var(--carv2-background-color-header); */
  background-color: rgba(0, 0, 0, 0);
  color: var(--carv2-text-color);
}

.active {
  background-color: var(--carv2-background-color-header) !important;
}

.tab:hover {
  cursor: pointer;
}

.carv2TrMarked {
  height: 2.5em;
}

.carv2TrTerminalError {
  background-color: var(--carv2-data-delete-color);
  height: 2.5em;
}
.carv2TrTerminalSuccess {
  background-color: var(--carv2-data-add-color);
  height: 2.5em;
}

/* -------------------------------------------- Colors -------------------------------------------- */
:root {
  --carv2-background-color: rgb(134, 134, 134);
  /* --carv2-background-color: rgb(230, 230, 230); */
  /* --carv2-background-color: rgb(24, 24, 24); */
  --carv2-background-color-header: rgba(0, 0, 0, 0.5);
  /* --carv2-background-color-header: rgb(23, 47, 48); */
  --carv2-background-color-shadow: black;
  --carv2-color-primary: #e0e1e2;
  /* --carv2-color-secondary: #3bc97b; */
  --carv2-color-secondary: #00cdf1;

  --carv2-color-exxcellent-blue: #0060a9;
  --carv2-color-exxcellent-yellow: #c5c800;
  --carv2-color-exxcellent-gray: #666d71;
  --carv2-color-exxcellent-purple: #a568a8;

  --carv2-background-color-slidebar: rgba(0, 0, 0, 0.3);
  --carv2-text-color: white;
  --carv2-data-add-color: #6cbf8f;
  --carv2-data-delete-color: #af0837;
  --carv2-data-persistent-color: #c8c8c8;
  --carv2-data-text-color: black;

  --aspect-ratio: 2/1;
}

/* -------------------------------------------- Over write -------------------------------------------- */

.ui.attached:not(.message) + .ui.attached.segment:not(.top) {
  background-color: var(--carv2-background-color-header);
}

.ui.attached.segment {
  border: 1px solid black;
}

.ui.attached.inverted.menu {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ui.inverted.orange.button,
.ui.inverted.orange.buttons .button {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--carv2-color-secondary) inset !important;
  color: var(--carv2-color-secondary);
}

.ui.inverted.orange.button:focus,
.ui.inverted.orange.buttons .button:focus,
.ui.inverted.orange.orange.button:hover,
.ui.inverted.orange.orange.buttons .button:hover {
  background-color: var(--carv2-color-secondary);
  color: transparent !important;
  box-shadow: 0 0 0 2px var(--carv2-color-secondary) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset !important;
}

.ui.orange.label,
.ui.orange.labels .label {
  background-color: var(--carv2-color-secondary) !important;
  border-color: var(--carv2-color-secondary) !important;
  color: var(--carv2-text-color) !important;
  text-align: center;
  vertical-align: center !important;
}

.ui.buttons .button,
.ui.button {
  background-color: transparent;
  box-shadow: 0 0 0 2px var(--carv2-color-secondary) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset !important;
}

.ui.button:disabled,
.ui.buttons .disabled.button {
  opacity: 1 !important;
  box-shadow: 0 0 0 2px var(--carv2-color-secondary) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset !important;
}

.disabled.item {
  opacity: 1 !important;
}

.ui.button:hover {
  background-color: var(--carv2-color-secondary);
  color: var(--carv2-text-color);
  box-shadow: 0 0 0 2px var(--carv2-color-secondary) inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset !important;
}

.ui.inverted.orange.orange.button:hover {
  color: var(--carv2-text-color) !important;
}

i.icon::before {
  color: var(--carv2-color-primary);
}

i.icon.delete::before :hover {
  color: red;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  color: white;
}

.extra {
  min-height: 3em !important;
}

.ui.card,
.ui.cards > .card {
  background-color: var(--carv2-background-color-header);
}

.ui.table td.active,
.ui.table tr.active {
  background: var(--carv2-color-secondary) !important;
  color: black !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box::before,
.ui.toggle.checkbox input:focus:checked ~ label::before {
  background-color: var(--carv2-color-secondary) !important;
}

.ui.toggle.checkbox input:checked ~ .box::before,
.ui.toggle.checkbox input:checked ~ label::before {
  background-color: var(--carv2-color-secondary) !important;
}

.ui.checkbox input:checked ~ .box::after,
.ui.checkbox input:checked ~ label::after {
  color: var(--carv2-text-color) !important;
}

.ui.checkbox .box::before,
.ui.checkbox label::before {
  border: 2px solid var(--carv2-color-secondary) !important;
}

.ui.labeled.input > .label {
  background-color: var(--carv2-color-secondary);
  color: rgba(0, 0, 0, 0.8);
}

.ui.input > input,
.ui.input.focus > input {
  background-color: transparent !important;
  color: var(--carv2-text-color) !important;
  border: 2px solid var(--carv2-color-secondary) !important;
}

input::selection,
textarea::selection {
  background-color: var(--carv2-color-secondary) !important;
}

.ui.input {
  background-color: transparent !important;
  color: var(--carv2-text-color);
}

.ui.input.focus > input::placeholder,
.ui.input > input:focus::placeholder {
  background-color: transparent !important;
  color: var(--carv2-text-color);
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: rgba(250, 250, 250, 0.6);
}

.ui.selection.dropdown {
  background-color: transparent;
  border: solid 2px var(--carv2-color-secondary);
  color: var(--carv2-text-color);
}
.ui.selection.dropdown:hover {
  background-color: var(--carv2-color-secondary);
  color: var(--carv2-text-color);
  border: solid 2px var(--carv2-color-secondary);
}
.ui.selection.dropdown:focus {
  border: solid 2px var(--carv2-color-secondary);
  color: var(--carv2-color-secondary);
}

.ui.dropdown .menu > .item:hover,
.ui.dropdown .menu .selected.item > item:hover {
  background-color: var(--carv2-color-secondary);
  color: var(--carv2-text-color);
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background-color: var(--carv2-color-secondary);
  opacity: 0.5;
}

.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:focus {
  background-color: var(--carv2-color-secondary);
  color: var(--carv2-text-color);
}
