.carvGridContainer {
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: 25% auto;
  grid-template-areas:
    "header header header"
    "leftBar compModel seqModel"
    " leftBar dataModel seqTabel";
}

.leftPanel {
  grid-area: leftBar;
  justify-self: center;
}

.controllerHeader {
  grid-area: header;
  padding: 10px;
  background-color: rgb(34, 172, 251);
}

.componentModel {
  grid-area: compModel;
  background-color: #e8ede6;
}

.dataModel {
  grid-area: dataModel;
}

.sequencModel {
  grid-area: seqModel;
}

.sequenceTable {
  grid-area: seqTabel;
}
