/* -------------------------------------------- Colors -------------------------------------------- */
:root {
  --carv2-background-color: rgb(134, 134, 134);
  /* --carv2-background-color: rgb(230, 230, 230); */
  /* --carv2-background-color: rgb(24, 24, 24); */
  --carv2-background-color-header: rgba(0, 0, 0, 0.5);
  /* --carv2-background-color-header: rgb(23, 47, 48); */
  --carv2-background-color-shadow: black;
  --carv2-color-primary: #e0e1e2;
  /* --carv2-color-secondary: #3bc97b; */
  --carv2-color-secondary: #00cdf1;
  --carv2-color-border: #d4d4d5;

  --carv2-color-exxcellent-blue: #0060a9;
  --carv2-color-exxcellent-yellow: #c5c800;
  --carv2-color-exxcellent-gray: #666d71;
  --carv2-color-exxcellent-purple: #a568a8;

  --carv2-color-pink: #93019b;
  --carv2-color-dark-purple: #540058;

  --carv2-background-color-slidebar: rgba(0, 0, 0, 0.8);
  --carv2-text-color: white;
  /* --carv2-data-add-color: #6cbf8f; */
  --carv2-data-add-color: #0fbd58;
  --carv2-data-delete-color: #af0837;
  --carv2-data-text-color: black;
  --carv2-data-persistent-color: #a7a5a5;

  --carv2-data-table-row-color: #c8c8c8;
  --carv2-data-table-row-odd-color: #bdbbbb;
  --carv2-data-table-row-odd-hover: #a7a5a5;
  --aspect-ratio: 2/1;
  --animation-time: 0.6s;
}