.controllPanelEdit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
}

.controllPanelEditChild {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.columnDivider {
  display: flex;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-image: linear-gradient(
      to bottom,
      transparent,
      #e0e1e2,
      #e0e1e2,
      #e0e1e2,
      #e0e1e2,
      transparent
    )
    0 100%;
  /* padding-right: 10px; size of gutter */
  /* padding-right: 10px; size of gutter */
}
