:root {
    --color-black: #000000;
    --color-blue: #0060A9;
    --color-blue--lighter: #4D90C3;
    --color-cyan: #35ABE2;
    --color-cyan--lighter: #00cdf1; /* original theme color: #72C4EB; */
    --color-dark: #54585B;
    --color-dark--lighter: #878A8C;
    --color-dark-blue: #0D456B;
    --color-dark-blue--lighter: #567D97;
    --color-error: #C81919;
    --color-error--lighter: #D95E5E;
    --color-green: #0FBD58;
    --color-green--lighter: #00e760;
    --color-grey: #C7C7C7;
    --color-grey--lighter: #EAEAEA;

    --color-light: #F4F4F4;
    --color-light--lighter: #F7F7F7;

    --color-lila: #9D599F;
    --color-lila--lighter: #BA8BBC;

    --color-purple: #93019b;
    --color-purple-dark: #540058;

    --color-warning: #F0BB29;
    --color-warning--lighter: #F5CF69;
    --color-white: #FFFFFF;
}