/* flex box */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.content-space-around {
    justify-content: space-around;
}

/*Size*/

.flex .width-fluid {
    width: 100%;
}

/* border */
.border {
    border-width: var(--border-size-medium);
    border-style: solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.border-top {
    border-top-width: var(--border-size-medium);
    border-top-style: solid;
    border-top-color: var(--border-color);
    border-radius: var(--border-radius);
}

.border .medium {
    border-width: var(--border-size-medium);
}

.border .small {
    border-width: var(--border-size-small);
}

.border .big {
    border-width: var(--border-size-big);
}
