/* -------------------------------------------- Forms -------------------------------------------- */

.form {
    background: var(--background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    min-width: 50em;
}

.formHeader {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formFooter {
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formBody {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1.5em;
}

.formLine {
    display: flex;
    justify-content: space-around;
    min-width: 22em;
    padding-bottom: var(--davit-margin-top-bottom);
    padding-top: var(--davit-margin-top-bottom);
    width: 100%;
}

.formLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 10em;
}

.formDivider {
    display: flex;
    border-top: var(--davit-border-size-medium) solid var(--text-color);
    border-radius: var(--davit-border-radius);
    margin: var(--davit-margin-top-bottom);
}

.noteForm {
    width: 30%;
    background: var(--background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}

.noteTextarea {
    border-radius: var(--davit-border-radius);
    resize: none;
    width: 100%;
    font-size: var(--davit-font-size);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
    background-color: var(--background-color);
    color: var(--text-color);
}

.noteTextarea:focus {
    outline: none;
}

.downloadForm {
    width: 30%;
    background: var(--background-color);
    border-radius: var(--davit-border-radius);
    padding: var(--davit-padding-top-bottom) var(--davit-padding-right-left);
}
