/* border */
.border {
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    border-style: solid;
}

.border-top {
    border-top-color: var(--border-color);
    border-top-style: solid;
}

.border-bottom {
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
}

.border-right {
    border-right-color: var(--border-color);
    border-right-style: solid;
}

.border-left {
    border-left-color: var(--border-color);
    border-left-style: solid;
}

.border-small {
    border-width: var(--border-size-small);
}

.border-medium {
    border-width: var(--border-size-medium);
}

.border-large {
    border-width: var(--border-size-large);
}

.border-radius {
    border-radius: var(--border-radius);
}

.remove-border-radius {
    border-radius: unset;
}

.border-warning {
    border-color: var(--color-error--lighter);
    border-width: var(--border-size-medium);
}

.border-animation {
    animation: borderGrow 0.8s ease-in-out;
}
