@import "Icons.css";

/*TODO: hiiiiier gehts weiter...*/

.davitGridContainer {
    display: grid;
    grid-template-columns: 4em 1fr 1fr;
    grid-template-rows: minmax(8em, 8em) 1fr 1fr;
    grid-template-areas:
    "leftBar header header"
    "leftBar actorArea seqModel"
    "leftBar dataArea seqTabel";
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
}

.componentPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
    grid-template-areas: "compModel";
}

.leftPanel {
    grid-area: leftBar;
    justify-self: center;
    background-color: var(--color-black);
    width: 100%;
}

.controllerHeader {
    grid-area: header;
    background-color: var(--background-color-header);
    color: var(--primary-text-color);
    border-style: solid;
    border-width: 0 0 5px 0;
    border-image: linear-gradient(to bottom, var(--background-color-shadow), var(--background-color)) 1 1 100%;
}


.actorModel {
    grid-area: actorArea;
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent) 0 100%;
}

.dataModel {
    grid-area: dataArea;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-image: linear-gradient(to right,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent) 1 1 100%;
}

.flowChartModel {
    grid-area: seqModel;
    min-height: 0;
    overflow: hidden;
    border-image: linear-gradient(to right,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent) 1 1 100%;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.flowChart {
    overflow: auto;
    padding: 1em;
    display: block;
    width: 100%;
}

.flowChartLabel {
    margin-bottom: 2px;
    width: 25em;
    display: flex;
    align-content: center;
}

.flowChartLabelLeft {
    display: flex;
    align-self: center;
    border-left: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 20%;
    background-color: var(--color-secondary);
    font-weight: bold;
    color: var(--color-black);
}

.flowChartLabelRight {
    width: 80%;
    border-right: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: var(--primary-text-color);
    background-color: var(--background-color-header);
}

.sequenceTable {
    min-height: 0;
    grid-area: seqTabel;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent) 0 100%;
    padding: 2px;
    overflow: hidden;
}

.fullscreen {
    max-height: 100vh;
    max-width: 100%;
    overflow: auto;
}

.sVGArea {
    width: 100%;
    height: 100%;
}

.controllPanelView {
    display: flex;
    justify-content: flex-start;
}

.controllPanelViewChild {
    margin: 10px;
}

/* Full screen */
.actorModelFullscreen {
    border: 1px solid black;
    background-color: var(--background-color);
}

.dataModelFullscreen {
    border: 1px solid black;
    background-color: var(--background-color);
}

/* -------------------------------------------- Optionfield -------------------------------------------- */

.optionField {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.optionFieldChildArea {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.columnDivider {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom, transparent, #e0e1e2, #e0e1e2, #e0e1e2, transparent) 0 100%;
}

#buttonGroupLabel {
    opacity: 1 !important;
    color: var(--primary-text-color);
}

/*================================================================================================================*/

.davitMenuLabel {
    padding-bottom: 1.5em;
}

.ButtonGroup {
    display: flex;
    flex-direction: column;
    border-radius: 3em;
    margin: 2px 4px 0 2px;
    align-items: center;
}


.disabled:hover {
    background-color: transparent;
    transition: background-color 0.4s;
    color: black;
    cursor: default;
}

.pLeft1 {
    padding-left: 0.5em;
}

/* -------------------------------------------- Control panel -------------------------------------------- */

.verticalTab {
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
    bottom: 0;
    width: 2em;
    height: 7.8em;
    background-color: var(--color-black);
    color: white;
    margin: 0;
    text-align: center;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-image: linear-gradient(to bottom,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent) 0 100%;
    animation-duration: var(--animation-time);
}

.verticalTab:hover {
    cursor: pointer;
    background-color: black;
}

.verticalTablDummy {
    animation-name: shrinkWidth;
    animation-duration: var(--animation-time);
    border-image: linear-gradient(to bottom,
    transparent,
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    var(--2x2-border-color),
    transparent);
    height: 7.8em;
}

.slideable-verticaltab {
    width: 2em;
}

.slideable {
    width: 100% !important;
    transition: width var(--animation-time);
}

.slideable-hidden {
    width: 0 !important;
    transition: width var(--animation-time);
}

.controllPanelEdit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;

    animation-duration: var(--animation-time);
    animation-timing-function: ease-in-out;
    animation-name: slidein;
}

.controllPanelEditChild {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#innerCard {
    width: 100px;
    height: 30px;
    margin: 0;
    padding: 0.3em !important;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* -------------------------------------------- Actor -------------------------------------------- */
.appearAnimation {
    animation-duration: var(--animation-time);
    animation-name: grow;
    animation-timing-function: ease-in-out;
}


/*========================================== NEW DAVIT CSS ==========================================================*/

.zoomLabel {
    color: var(--primary-text-color);
    font-size: 0.7em;
    animation-name: disapear;
    animation-duration: 3s;
    opacity: 0;
}

.headerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    height: 100%;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}
