.configurationPanel {
    position: fixed;
    z-index: 99;
    top: 2rem;
    left: 5rem;
}

.configurationBody {
    background-color: var(--background-color);
}

.configurationPanelHeader {
    background-color: var(--background-color-header);
    width: 14rem;
}

.configurationSequenceChainColumn {
    min-width: 15rem;
    min-height: 20rem;
}

.configurationStateColumn{
    min-width: 20rem;
}