/* flex box */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}
