.viewFragment {
    max-width: 15em;
    border-top: 1px solid var(--primary-text-color);
}

.actorData {
    width: 100%;
    height: 100%;
}

.actorData.NEW {
    background-color: var(--data-add-color);
    color: var(--data-text-color);
}

.actorData.PERSISTENT {
    background-color: var(--data-persistent-color);
    color: var(--data-text-color);
}

.actorData.SENT {
    background-color: var(--color-blue);
    color: var(--primary-text-color);
}

.actorData.UPDATED_TO {
    background-color: var(--color-purple);
    color: var(--primary-text-color);
}

.actorData.UPDATED_FROM {
    background-color: var(--color-purple-dark);
    color: var(--data-persistent-color);
}

.actorData.DELETED {
    background-color: var(--data-delete-color);
    color: var(--primary-text-color);
}

.actorData.ADD {
    background-color: var(--background-color-header);
    color: var(--primary-text-color);
    box-shadow: 6px 6px 10px var(--data-add-color) inset;
}

.actorData.CHECKED {
    background-color: var(--data-persistent-color);
    color: var(--data-text-color);
}

.actorData.CHECK_FAILED {
    background-color: var(--data-persistent-color);
    color: var(--primary-text-color);
}

.actorData.DELETE {
    background-color: var(--background-color-header);
    color: var(--primary-text-color);
    box-shadow: 6px 6px 10px var(--data-delete-color) inset;
}

.actorData.ERROR_ADD {
    background-color: var(--data-add-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.actorData.ERROR_DELETE {
    background-color: var(--data-delete-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

.actorData.ERROR_SEND {
    background-color: var(--color-blue);
    color: var(--primary-text-color);
    box-shadow: 0 0 20px rgb(255, 0, 0);
}

/*TODO: replace them with davit icon's*/
/*------------------------ check icon's ------------------------*/

.gg-close-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
}

.gg-close-o::after,
.gg-close-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 3px
}

.gg-close-o::after {
    transform: rotate(-45deg)
}

.gg-check-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
}

.gg-check-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 6px;
    height: 10px;
    border-color: currentColor;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform-origin: bottom left;
    transform: rotate(45deg)
}
