:root {
    --davit-button-sidepanel-height: 3.5rem;
    --davit-button-sidepanel-width: 100%;
    --button-sidepanel-border-color: var(--color-white);
}

.sidePanelButton {
    border: none;
    width: var(--davit-button-sidepanel-width);
    height: var(--davit-button-sidepanel-height);
    border-bottom: var(--border-size-medium) solid var(--button-sidepanel-border-color);
    border-radius: 0;
}

.sidePanelButton.active {
    background-color: var(--secondary-color);
    transition: background-color var(--animation-time);
}
