:root {
    --data-table-row-color: #c8c8c8;
    --data-table-row-odd-color: #bdbbbb;
    --data-table-row-odd-hover: #a7a5a5;
}

.thaeder, th{
        background-color: var(--background-color-header);
        color: var(--primary-text-color);
        animation-name: appearText;
        animation-duration: 0.2s;
}

th{
    height: 3rem;
}

tr:nth-child(odd) {
    background-color: var(--data-table-row-odd-color);
}